:root {
  /* Custom colors to match the original design */
  --pico-font-family: "Be Vietnam Pro", sans-serif;
  --pico-primary: #38e07b;
  --pico-background-color: #f9fafb;
  --pico-surface-color: #ffffff;
  --pico-border-color: #e5e7eb;
  --pico-color: #111827;
  --pico-secondary-color: #6b7280;
  --pico-font-size: 15px;
}

body {
  /* background-color: rgb(229, 236, 243); */
  color: var(--pico-color);
}
